.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(10, 67, 236);
  padding: 10px 20px;
  color: white;
}

.logo img {
  height: 40px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  position: relative; 
}

.profile-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}
